body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.num-episodes {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
}

.show-page-container {
  margin-top: 5%;
}

.media-image {
  width: 100%
}

@media screen and (min-width: 320px){
  .container {
    width: 90%;
    text-align: center;
    margin: 0 5%;
    flex-flow: column-reverse;
  }
  .nav-bar-container {
    display: flex;
    overflow: scroll;
  }

}

@media screen and (min-width: 480px){
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 10% 0;
    min-height: 200px;
    align-items: center;
  }
  .nav-bar-container {
    display: flex;
    overflow: visible;
  }
}

@media screen and (min-width: 979px) {
    .line-top { display: none; }
}

@media screen and (max-width: 980px) {
    .line-bottom { display: none; }
}

.nav-box-selected {
  width: 40px;
  height: 40px;
  background: black;
}

.nav-box-unselected {
  width: 40px;
  height: 40px;
  background: #d0d0d0;
}

.nav-item-container {
  margin: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
}

.nav-label {
  margin: 10px;
}

.hr-grey {
  height: 3px;
  background: #d0d0d0;
}
